*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #FFF9EA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header .slot:nth-child(1){
    width: 25%;
}
.header .slot:nth-child(1) a{
    text-decoration: none;
}
.header .slot:nth-child(2){
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .slot:nth-child(3){
    width: 20%;
}
.search-bar {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: #fff;
    /* border: black solid 2px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.search-bar.expanded {
    width: 80%;
    margin: 0 auto;
}
.search-bar form {
display: flex;
align-items: center;
justify-content: center;
width: 80%;
height: 100%;
}
.search-bar input {
border: none;
outline: none;
padding: 0 10px;
font-size: 16px;
width: 100%;
}
.search-bar.collapsed .fa{
    width: 100%;
    margin-right: 20px ;
}
.header .slot:nth-child(4){
    width: 20%;
    text-align: end;
    margin-right: 5px;
}
.slot:nth-child(2) a{
    font-size: 22px;
    text-decoration: none;
    margin: 0 30px;
}
.logo img{
    vertical-align: middle;
    width: 25%;
    height: auto;
}
.logo img, .logo {
    display: inline-block;
    font-family:Readex Pro;
    font-size:35px;
}