.UserProfileMain .UserInfo {
    background-color: white;
    margin-left: 2%;
    margin-top: 2%;
}

.UserProfileMain .UserInfo h2{
    margin-bottom: 2%;
}

.EditProfile form {
    margin-top: 2%;
}

.EditProfile form label input {
    margin-left: 10px;
}

.EditProfile .UserInfo form .City {
    margin-left: 2%;
}

.EditProfile .UserInfo form .Zip {
    margin-left: 2%;
}

.UserInfo button {
    margin: 5px;
    padding: 0.5rem;
    /* border-radius: 25px; */
    text-align: center;
}