.UserProfileMain {
    background-color: white;
    width: 100%;
    height: 100%;
}

.UserProfileMain .UserInfo {
    background-color: white;
    margin-left: 2%;
    margin-top: 2%;
}

.EditProfile form label input {
    margin-left: 10px;
}

.EditProfile .UserInfo form .City {
    margin-left: 2%;
}

.EditProfile .UserInfo form .Zip {
    margin-left: 2%;
}

.UserInfo button {
    margin: 5px;
    padding: 3px 5px;
    /* border-radius: 25px; */
    text-align: center;
}